# resultados del 'build'
publico/

# tipos generados
.astro/

# dependencias
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# variables del ambiente
.env
.env.production

# archivos específicos de macOS
.DS_Store

# archivos temporales
*~