---
import Mapa from '@/componentes/Mapa.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import listas from '../../estaticos/listas.json';
import LineaTiempo from '@/componentes/LineaTiempo.astro';
import Ficha from '@/componentes/Ficha.astro';
import Cabezote from '@/componentes/Cabezote.astro';
import Introduccion from '@/componentes/Introduccion.astro';
import EgresadosNombres from '@/componentes/EgresadosNombres.astro';
import ListasEgresados from '@/componentes/ListasEgresados.astro';
---

<Plantilla>
  <Cabezote />
  <main>
    <Introduccion />
    <Ficha />
    <ListasEgresados />
    <EgresadosNombres />
    <Mapa />
    <LineaTiempo tiempo={listas.años} decadas={listas.decadas} />
  </main>
</Plantilla>

<script>
  import { vista } from '@/utilidades/cerebro';
  const intro = document.getElementById('introduccion') as HTMLDivElement;

  // No mostrar intro al cambiar de vista a menos que se abra desde el cabezote
  if (intro.classList.contains('visible')) {
    intro.classList.remove('visible');
  }

  vista.set('egresados');
</script>
