---
import Mapa from '@/componentes/Mapa.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import listas from '../../estaticos/listasEgresados.json';
import LineaTiempo from '@/componentes/LineaTiempo.astro';
import Ficha from '@/componentes/Ficha/Ficha.astro';
import Cabezote from '@/componentes/Cabezote.astro';
import EgresadosNombres from '@/componentes/EgresadosNombres.astro';
import ListasEgresados from '@/componentes/ListasEgresados.astro';
import PataLogos from '@/componentes/PataLogos.astro';
import Creditos from '@/componentes/Creditos.astro';

const decadas: string[] = [];

listas.graduacion.forEach((obj) => {
  const año = +obj.nombre;
  const decada = `${año - (año % 10)}`;

  if (!decadas.includes(decada)) {
    decadas.push(decada);
  }
});
---

<Plantilla>
  <Cabezote />
  <main>
    <Creditos />
    <PataLogos />
    <Ficha />
    <ListasEgresados />
    <EgresadosNombres />
    <Mapa />
    <LineaTiempo tiempo={listas.graduacion.map((obj) => obj.slug)} decadas={decadas} />
  </main>
</Plantilla>

<script>
  import { vista } from '@/utilidades/cerebro';
  vista.set('egresados');
</script>
