---
import Mapa from '@/componentes/Mapa.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import listas from '../../estaticos/listas.json';
import LineaTiempo from '@/componentes/LineaTiempo.astro';
import Ficha from '@/componentes/Ficha.astro';
import Cabezote from '@/componentes/Cabezote.astro';
import EgresadosNombres from '@/componentes/EgresadosNombres.astro';
import ListasEgresados from '@/componentes/ListasEgresados.astro';
import PataLogos from '@/componentes/PataLogos.astro';
import Creditos from '@/componentes/Creditos.astro';
---

<Plantilla>
  <Cabezote />
  <main>
    <Creditos />
    <PataLogos />
    <Ficha />
    <ListasEgresados />
    <EgresadosNombres />
    <Mapa />
    <LineaTiempo tiempo={listas.años} decadas={listas.decadas} />
  </main>
</Plantilla>

<script>
  import { vista } from '@/utilidades/cerebro';

  vista.set('egresados');
</script>
