---
import Mapa from '@/componentes/Mapa.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import listas from '../../estaticos/listas.json';
import LineaTiempo from '@/componentes/LineaTiempo.astro';
import Ficha from '@/componentes/Ficha.astro';
import Cabezote from '@/componentes/Cabezote.astro';
import EgresadosNombres from '@/componentes/EgresadosNombres.astro';
import ListasEgresados from '@/componentes/ListasEgresados.astro';
---

<Plantilla>
  <Cabezote />
  <main>
    <Ficha />
    <ListasEgresados />
    <EgresadosNombres />
    <Mapa />
    <LineaTiempo tiempo={listas.años} decadas={listas.decadas} />
  </main>
</Plantilla>

<script>
  import { datosEgresados, elementoSeleccionado, vista } from '@/utilidades/cerebro';
  const nodosEgresados = document.querySelectorAll<HTMLLIElement>('.nodoEgresado');
  const conteoFicha = document.getElementById('conteoFicha') as HTMLDivElement;

  vista.set('egresados');

  datosEgresados.subscribe((datos) => {
    if (!datos.length) return;

    nodosEgresados.forEach((nodoEgresado) => {
      nodoEgresado.onclick = () => {
        const contenedorTitulo = document.getElementById('contenedorTitulo') as HTMLDivElement;
        contenedorTitulo.style.flexBasis = '100%';
        conteoFicha.style.display = 'none';

        const id = nodoEgresado.dataset.indice;
        if (!id) return;

        elementoSeleccionado.set({ vista: 'egresados', tipo: 'egresado', id });
      };
    });
  });
</script>
