---
import EjemploCoponente from '@/componentes/EjemploCoponente.astro';
import NombreBarra from '@/componentes/NombreBarra.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla>
  <main>
    <NombreBarra
      titulo="Lideres"
      lista={[
        { nombre: 'Julian', conteo: 6 },
        { nombre: 'Juan Camilo', conteo: 2 },
      ]}
    />

    <NombreBarra
      titulo="Temas"
      lista={[
        { nombre: 'algo', conteo: 9 },
        { nombre: 'otro', conteo: 5 },
      ]}
    />
  </main>
</Plantilla>

<style lang="scss"></style>
