---
import EjemploCoponente from '@/componentes/EjemploCoponente.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla>
  <main>
    <h1>..:: Plantilla EnFlujo - Astro ::..</h1>

    <EjemploCoponente titulo="Una base para empezar a usar Astro" contenido="¬ | ¬" />
  </main>
</Plantilla>

<style lang="scss"></style>
