---
import Mapa from '@/componentes/Mapa.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import listas from '../../estaticos/listas.json';
import LineaTiempo from '@/componentes/LineaTiempo.astro';
import Ficha from '@/componentes/Ficha.astro';
import Cabezote from '@/componentes/Cabezote.astro';
import Creditos from '@/componentes/Creditos.astro';
import Listas from '@/componentes/Listas.astro';
import Proyectos from '@/componentes/Proyectos.astro';
import PataLogos from '@/componentes/PataLogos.astro';
---

<Plantilla>
  <Cabezote />
  <main>
    <Creditos />
    <PataLogos />
    <Ficha />
    <Listas />
    <Proyectos />
    <Mapa />
    <LineaTiempo tiempo={listas.años.map((obj) => obj.slug)} decadas={listas.decadas.map((obj) => obj.slug)} />
  </main>
</Plantilla>

<script>
  import { vista } from '@/utilidades/cerebro';
  vista.set('proyectos');
</script>
