---
import Mapa from '@/componentes/Mapa.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import listas from '../../estaticos/listas.json';
import LineaTiempo from '@/componentes/LineaTiempo.astro';
import Ficha from '@/componentes/Ficha.astro';
import Cabezote from '@/componentes/Cabezote.astro';
import Introduccion from '@/componentes/Introduccion.astro';
import Listas from '@/componentes/Listas.astro';
import Proyectos from '@/componentes/Proyectos.astro';
---

<Plantilla>
  <Cabezote />
  <main>
    <Introduccion />
    <Ficha />
    <Listas />
    <Proyectos />
    <Mapa />
    <LineaTiempo tiempo={listas.años} decadas={listas.decadas} />
  </main>
</Plantilla>

<style lang="scss" is:global>
  @import '@/scss/constantes';
</style>
