---
import Mapa from '@/componentes/Mapa.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import listas from '../../estaticos/listas.json';
import LineaTiempo from '@/componentes/LineaTiempo.astro';
import Ficha from '@/componentes/Ficha.astro';
import Cabezote from '@/componentes/Cabezote.astro';
import Introduccion from '@/componentes/Introduccion.astro';
import Listas from '@/componentes/Listas.astro';
import Proyectos from '@/componentes/Proyectos.astro';
---

<Plantilla>
  <Cabezote />
  <main>
    <Introduccion />
    <Ficha />
    <Listas />
    <Proyectos />
    <Mapa />
    <LineaTiempo tiempo={listas.años} decadas={listas.decadas} />
  </main>
</Plantilla>

<style lang="scss" is:global>
  @import '@/scss/constantes';

  #listaProyectos {
    display: block;
    position: fixed;
    background-color: var(--fondoVerdeOscuro);
    color: var(--textoClaro);
    top: var(--altoMenu);
    right: 0px;
    z-index: 4;
    font-family: var(--fuenteParrafo);
    height: 70vh;
    overflow: auto;
    padding-bottom: 5em;
    width: 50vw;
    padding: 3rem 2rem;
    font-size: 0.8em;

    .nodoProyecto {
      margin: 0.85em 0;
      font-size: 1.1em;
      cursor: pointer;

      &:hover,
      &.resaltado {
        background-color: var(--fondoAmarilloClaro);
        color: var(--textoOscuro);
      }
    }
    &.oculta {
      display: none;
    }
  }

  #listaEgresados {
    display: block;
    position: fixed;
    background-color: var(--fondoVerdeOscuro);
    color: var(--textoClaro);
    top: var(--altoMenu);
    right: 0px;
    z-index: 4;
    font-family: var(--fuenteParrafo);
    height: 70vh;
    overflow: auto;
    padding-bottom: 5em;
    width: 50vw;
    padding: 3rem 2rem;
    font-size: 0.8em;

    .nodoProyecto {
      margin: 0.85em 0;
      font-size: 1.1em;
      cursor: pointer;

      &:hover,
      &.resaltado {
        background-color: var(--fondoAmarilloClaro);
        color: var(--textoOscuro);
      }
    }

    &.oculta {
      display: none;
    }
  }

  // Cambiar estilos según tamaño de pantalla
  @media screen and (min-width: $corte3) {
    #contenedorListas {
      width: 30vw;
    }
    #listaProyectos {
      width: 30vw;
    }
  }
</style>
