---
import type { Listas } from '@/tipos';
import { nombresListasEgresados, nombresListasProyectos } from '@/utilidades/cerebro';
const listas = { ...nombresListasProyectos, ...nombresListasEgresados };
---

<div id="contenedorBuscador">
  <input id="buscador" type="search" placeholder="Buscar" />

  <div id="sugerencias">
    {
      Object.keys(listas).map((tipo) => (
        <div id={`caja-${tipo}`} class="cajaBuscador">
          <h4>{listas[tipo as keyof Listas]}</h4>
          <ul class="subLista" />
        </div>
      ))
    }
  </div>
</div>

<script>
  import fuzzysort from 'fuzzysort';
  import { opcionesBuscador } from '@/utilidades/cerebro';
  import type { ElementoBuscador } from '@/tipos';
  const buscador = document.getElementById('buscador') as HTMLInputElement;
  const sugerencias = document.getElementById('sugerencias') as HTMLDataListElement;
  const cajas = sugerencias.querySelectorAll<HTMLDivElement>('.cajaBuscador');
  const sinResultados = document.createElement('span');
  sinResultados.className = 'sinResultados';

  interface ListasBuscador {
    tipo: string;
    puntaje: number;
    elementos: HTMLSpanElement[];
  }

  opcionesBuscador.subscribe((opciones) => {
    if (!opciones) return;

    buscador.oninput = buscar;

    buscador.addEventListener('focusin', () => {
      const texto = buscador.value.trim();
      if (texto && texto.length) sugerencias.classList.add('visible');
    });

    function buscar() {
      const texto = buscador.value.trim();

      sinResultados.innerText = '';
      cajas.forEach((caja) => caja.classList.remove('visible'));

      if (!texto || !texto.length) {
        sugerencias.classList.remove('visible');
        return;
      }

      const busqueda = fuzzysort.go<ElementoBuscador>(texto, opciones as ElementoBuscador[], {
        key: 'nombre',
        threshold: -1000,
        limit: 100
      });

      if (busqueda.total > 0) {
        sugerencias.classList.add('visible');

        const resultadoEnListas = busqueda.reduce((listas: ListasBuscador[], actual) => {
          const llave = actual.obj.tipo;
          const enLista = listas.find((lista: ListasBuscador) => lista.tipo === llave);

          if (!enLista) {
            listas.push({ puntaje: actual.score, tipo: llave, elementos: [actual.obj.opcion] });
          } else {
            if (enLista.puntaje < actual.score) enLista.puntaje = actual.score;
            enLista.elementos.push(actual.obj.opcion);
          }

          return listas;
        }, []);

        resultadoEnListas.forEach((obj) => {
          const contenedor = document.getElementById(`caja-${obj.tipo}`) as HTMLDivElement;
          const ul = contenedor.querySelector<HTMLUListElement>('.subLista') as HTMLUListElement;
          sugerencias.insertBefore(contenedor, sugerencias.lastChild);
          ul.innerHTML = '';
          contenedor.classList.add('visible');

          obj.elementos.forEach((elemento) => ul.appendChild(elemento));
        });
      } else {
        sinResultados.innerText = `No hay resultados para la busqueda: ${texto}`;
        sugerencias.appendChild(sinResultados);
      }
    }
  });
</script>

<style lang="scss">
  @import '@/scss/constantes';
  #contenedorBuscador {
    z-index: 99;
  }

  #buscador {
    outline: none;
    border: none;
    padding: 0.8em;
    background-color: rgba(206, 206, 206, 0.444);
    color: var(--textoClaro);
    font-size: 0.85em;
    transition: all 0.25s ease-in-out;
    width: 20vw;

    &:focus {
      background-color: var(--resaltadoVerde);

      &::placeholder {
        color: rgba(72, 72, 72, 0.452);
      }
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.452);
    }
  }

  #sugerencias {
    background-color: var(--magenta);
    position: absolute;
    left: 50%;
    transform: translateX(200%);
    top: var(--altoMenu);
    padding: 1.2em;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: calc(100vh - 50px);
    text-transform: none;
    z-index: 1;
    transition: transform 0.2s ease-out;

    &.visible {
      transform: translateX(-50%);
    }

    .cajaBuscador {
      width: 33%;
      border: 1px solid var(--fondoVerdeOscuro);
      display: none;
      flex-direction: column;

      h4 {
        margin: 0;
        background-color: var(--fondoVerdeOscuro);
        padding: 0.6em;
      }

      .subLista {
        padding: 0.6em;
      }

      &.visible {
        display: flex;
      }
    }
  }

  // Cambiar estilos según tamaño de pantalla
  @media screen and (min-width: $corte1) {
    #buscador {
      width: 150px;
    }
  }
</style>

<style lang="scss" is:global>
  // Estos son los <li> dentro de las cajas
  .resultadoBusqueda {
    cursor: pointer;
    font-size: 1.1em;
    padding: 0.2em 0;

    &:hover {
      background-color: var(--fondoAmarilloClaro);
      color: var(--fondoVerdeOscuro);
    }
  }
</style>
