---

---

<nav id="menu">
  <div id="menuListas">
    <span class="lineaMenu"></span>
    <span class="lineaMenu"></span>
    <span class="lineaMenu"></span>
  </div>
  <div id="encabezado">
    <h1>Haciendo Caminos</h1>
    <div id="botonVista">Proyectos</div>
  </div>
</nav>

<script>
  const menuListas = document.getElementById('menuListas') as HTMLDivElement;
  const contenedorListas = document.getElementById('contenedorListas') as HTMLDivElement;

  if (menuListas) {
    menuListas.addEventListener('click', () => {
      contenedorListas.classList.toggle('visible');
    });
  }
</script>

<style lang="scss">
  @import '@/scss/constantes';
  #menu {
    margin: 0;
    font-family: var(--fuenteTitulos);
    font-size: 0.8em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    color: var(--textoClaro);
    z-index: 9;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a,
    a:link {
      color: var(--textoClaro);
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.8;
        color: var(--magenta);
      }
    }

    p {
      margin: 0;
      line-height: 1;
    }

    // Por ahora no se usa pero se usará
    .enlaceMenu {
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }

    #encabezado {
      background-color: var(--fondoVerdeOscuro);
      width: calc(100vw - 50px);
      padding: 0em 1em;
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      max-height: 50px;
    }

    // Botón para cambiar de vista (proyectos / egresados)
    #botonVista {
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }

    #menuListas {
      height: 100%;
      width: 50px;
      background-color: var(--resaltadoVerde);
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      padding: 0.3em;
      cursor: pointer;

      .lineaMenu {
        width: 50%;
        height: 1px;
        display: block;
        background-color: var(--fondoVerdeOscuro);
      }
    }
  }
</style>
