---
import Buscador from './Buscador.astro';

const urlBase = import.meta.env.BASE_URL;
const { pathname } = Astro.url;
const paginaActual = pathname.replace(urlBase, '').replaceAll('/', '');
---

<nav id="menu">
  <div id="menuListas">
    <span class="lineaMenu"></span>
    <span class="lineaMenu"></span>
    <span class="lineaMenu"></span>
  </div>

  <div id="encabezado">
    <span class="cajaLogo"></span>

    <h1>HACIENDO CAMINOS | DEPARTAMENTO DE ANTROPOLOGÍA</h1>

    <span class="cajaGusanos"></span>
    <ul>
      <li class="botonVista"><a href=`${urlBase}/` class={paginaActual === '' ? 'actual' : ''}>Proyectos</a></li>
      <li class="botonVista">
        <a href=`${urlBase}/egresados` class={paginaActual === 'egresados' ? 'actual' : ''}>Egresados</a>
      </li>
    </ul>

    <Buscador />
    <div id="botonCreditos" class="activo">?</div>
  </div>
</nav>

<script>
  const menuListas = document.getElementById('menuListas') as HTMLDivElement;
  const contenedorListas = document.getElementById('contenedorListas') as HTMLDivElement;

  if (menuListas) {
    menuListas.addEventListener('click', () => {
      if (contenedorListas.classList.contains('visible')) {
        contenedorListas.classList.remove('visible');
        menuListas.classList.remove('abierto');
      } else {
        contenedorListas.classList.add('visible');
        menuListas.classList.add('abierto');
      }
    });
  }

  // Cerrar listas si se hace click fuera de su contenedor
  document.body.addEventListener('click', (evento) => {
    if (
      !(
        contenedorListas === evento.target ||
        contenedorListas.contains(evento.target as Node) ||
        menuListas === evento.target
      )
    ) {
      contenedorListas.classList.remove('visible');
      menuListas.classList.remove('abierto');
    }
  });
</script>

<style lang="scss">
  @import '@/scss/constantes';
  #menu {
    margin: 0;
    font-family: var(--fuenteParrafo);
    background-color: var(--fondoVerdeOscuro);
    font-size: 0.8em;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--altoMenu);
    color: var(--textoClaro);
    z-index: 9;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a,
    a:link {
      color: var(--textoClaro);
      transition: all 0.3s ease-in-out;

      &:hover,
      &.actual {
        color: var(--resaltadoVerde);
      }
    }

    p {
      margin: 0;
      line-height: 1;
    }

    #encabezado {
      width: calc(100vw - 50px);
      padding: 0em 0 0em 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      max-height: 50px;
      z-index: 9;

      h1 {
        display: none;
        z-index: 3;
        width: 22vw;
        font-size: 1em;
        padding-left: 0.2em;
      }

      .cajaLogo {
        background-image: url(/enflujo-haciendocaminos/imgs/60-anos_blanco.svg);
        height: 35px;
        width: 9vw;
        background-repeat: no-repeat;
        margin-left: 5px;
        margin-top: 2px;
        background-position-y: center;
        opacity: 1;
      }

      .cajaGusanos {
        position: absolute;
        background-image: url(/enflujo-haciendocaminos/imgs/gusanitos.svg);
        height: 50px;
        width: 10vw;
        left: 30vw;
        min-width: 70px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.3;
      }
    }

    // Botón para cambiar de vista (proyectos / egresados)
    .botonVista {
      cursor: pointer;
      font-size: 1em;

      &:hover {
        opacity: 0.6;
      }
    }

    #menuListas {
      height: var(--altoMenu);
      width: 50px;
      background-color: var(--resaltadoVerde);
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      padding-top: 15px;
      cursor: pointer;

      .lineaMenu {
        pointer-events: none;
        width: 30px;
        height: 2px;
        display: block;
        margin-bottom: 5px;
        background-color: var(--fondoVerdeOscuro);
        transition: all 0.25s ease-out;
      }

      &.abierto {
        position: relative;
        .lineaMenu {
          display: none;
          position: absolute;

          &:first-child {
            display: block;
            transform: rotate(45deg);
            top: 23px;
          }

          &:last-child {
            display: block;
            top: 23px;
            transform: rotate(-45deg);
          }
        }
      }
    }

    #botonCreditos {
      display: block;
      font-size: 1em;
      font-weight: 700;
      margin-left: 0;
      padding: 18px 1.5em 0 1.5em;
      text-align: center;
      cursor: pointer;
      text-transform: none;
      height: var(--altoMenu);
      background-color: var(--resaltadoVerde);
      color: var(--textoOscuro);

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        color: white;
      }

      &.activo {
        background-color: #62e5947c;
        color: white;
      }
    }
  }

  // Cambiar estilos según tamaño de pantalla
  @media screen and (min-width: $corte2) {
    #menu {
      #encabezado {
        .cajaLogo {
          width: 4vw;
        }

        .cajaGusanos {
          position: static;
          background-image: url(/enflujo-haciendocaminos/imgs/gusanitos.svg);
          height: 50px;
          width: 10vw;
          min-width: 70px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          opacity: 1;
        }
        h1 {
          display: block;
          width: 40vw;
          font-size: 1em;
          padding-left: 0vw;
        }
      }

      #botonCreditos {
        margin-left: 5px;
      }
    }

    @media screen and (min-width: $corte3) {
      #menu {
        #encabezado {
          h1 {
            display: contents;
            // width: 13vw;
            font-size: 1.2em;
            padding-left: 0vw;
          }
        }
      }
    }
  }
</style>
