---

---

<div id="creditos" class="visible">
  <div id="cerrarCreditos">X</div>

  <div id="tituloLogo">
    <img
      class="logoIntroduccion"
      src={`${import.meta.env.BASE_URL}/imgs/logo_antro_blanco.svg`}
      alt="Logo de introducción: 60 años, haciendo caminos"
    />
  </div>

  <p>
    <span class="resaltado">Haciendo Caminos</span> es la historia del <a
      href="https://cienciassociales.uniandes.edu.co/antropologia/"
      >Departamento de Antropología de la Universidad de Los Andes</a
    > contada a través de los proyectos de investigación que sus profesores y estudiantes han realizado desde su creación.
  </p>

  <p>
    Quiénes han hecho parte, sobre qué han investigado, en qué lugares se han centrado y cuándo fueron realizadas las
    investigaciones son algunas de las preguntas que queremos ayudar a responder con esta herramienta.
  </p>
  <p>
    Para navegar selecciona del menú de la izquierda un tema, personaje, fecha, lugar, elemento o proyecto. Se abrirá
    una ficha con información donde podrás conocerlos en detalle.
  </p>

  <div class="contenedorLogos">
    <ul class="">
      <li class="">
        <h3><div class="rol">Investigación realizada por</div></h3>

        <h3><div class="rol">Visualización desarrollada por</div></h3>
        <a href="https://enflujo.com" target="_blank">
          <img class="logo" src={`${import.meta.env.BASE_URL}/imgs/logo_enflujo_blanco.svg`} alt="Logo EnFlujo" /></a
        >
      </li>
    </ul>
  </div>

  <script>
    import { cerrarClicFuera } from '../utilidades/ayudas.ts';
    const botonCerrarCreditos = document.getElementById('cerrarCreditos') as HTMLDivElement;
    const botonCreditos = document.getElementById('botonCreditos') as HTMLDivElement;
    const creditos = document.getElementById('creditos') as HTMLDivElement;

    botonCerrarCreditos.onclick = () => {
      creditos.classList.remove('visible');
      botonCreditos.classList.remove('activo');
    };

    // Abrir y cerrar Creditos
    botonCreditos.onclick = () => {
      creditos.classList.toggle('visible');

      if (creditos.classList.contains('visible')) {
        botonCreditos.classList.add('activo');
      } else {
        botonCreditos.classList.remove('activo');
      }
    };

    // Cerrar al hacer click fuera de creditos
    cerrarClicFuera(creditos, botonCreditos);
  </script>

  <style lang="scss">
    @import '@/scss/constantes';

    #creditos {
      background-color: var(--fondoVerdeOscuro);
      color: var(--blanco);
      height: calc(100vh - var(--altoMenu) - var(--altoLineaTiempo));
      width: 100vw;
      position: fixed;
      overflow: auto;
      z-index: 9;
      padding: 4em 5em 2em 5em;
      font-size: 1em;
      left: -100%;
      top: 50px;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      &.visible {
        left: 0;
        opacity: 1;
      }

      #cerrarCreditos {
        position: absolute;
        right: 30px;
        font-size: 1em;
        margin: 0;
        padding: 0;
        cursor: pointer;
        transition: opacity 0.15s ease-out;
        text-align: right;

        &:hover {
          opacity: 0.4;
        }
      }

      #tituloLogo {
        width: 100%;
        margin: 2em auto 2em auto;

        .logoIntroduccion {
          width: 100%;
          margin-top: 2em;
          margin-bottom: 2em;
        }
      }

      .contenedorLogos {
        margin: 0 auto;

        h1 {
          font-size: 2em;
          font-weight: 500;
          width: 100%;
        }

        h3 {
          margin: 0 auto;
          padding-top: 1.5em;
          margin: 1.5em 0em 1em 0;
        }

        .rol {
          font-weight: bold;
        }
        .logo {
          max-width: 60%;
          display: block;
          height: 90px;
          width: auto;
          margin: 3em auto 0;
        }
      }
    }

    // Cambiar estilos según tamaño de pantalla

    @media screen and (min-width: $corte2) {
      #creditos {
        width: 80vw;

        #tituloLogo {
          width: 90%;
        }
      }
    }

    @media screen and (min-width: $corte3) {
      #creditos {
        width: 40vw;
        max-width: 700px;
        padding: 4em 6em 2em 6em;
        #cerrarCreditos {
          font-size: 1.2em;
        }

        #tituloLogo {
          width: 90%;
        }
      }
    }
  </style>
</div>
