---
import egresados from '../../estaticos/egresados.json';
---

<div id="listaProyectos">
  <div id="cajaNombreVista">
    <h2>Egresados</h2>
    <span id="botonListas" class="botonAbrir abierta"></span>
  </div>

  <ul id="contenidoLista">
    {
      egresados.map((egresado, i) => (
        <li id={`egresado_${egresado.id}`} class="nodoEgresado" data-indice={i}>
          {egresado.nombre}
        </li>
      ))
    }
  </ul>
</div>

<script>
  import { actualizarUrl, datosEgresados } from '@/utilidades/cerebro';
  const nodosEgresados = document.querySelectorAll<HTMLLIElement>('.nodoEgresado');
  const contenidoLista = document.getElementById('contenidoLista') as HTMLUListElement;
  const cajaNombreVista = document.getElementById('cajaNombreVista') as HTMLDivElement;
  const botonListas = document.getElementById('botonListas') as HTMLSpanElement;

  cajaNombreVista.onclick = () => {
    contenidoLista.classList.toggle('oculta');
    botonListas.classList.toggle('abierta');
  };

  datosEgresados.subscribe((datos) => {
    if (!datos.length) return;

    nodosEgresados.forEach((nodoEgresado) => {
      nodoEgresado.onclick = () => {
        const id = nodoEgresado.dataset.indice;
        if (!id) return;

        actualizarUrl([
          { nombre: 'id', valor: id },
          { nombre: 'tipo', valor: 'egresado' }
        ]);
      };
    });
  });
</script>
