---

---

<section id="contenedorFicha">
  <button id="cerrar">X</button>
  <section id="superior">
    <div id="contenedorTitulo">
      <h2 id="listaFicha"></h2>
      <p id="tituloFicha"></p>
    </div>
    <div id="conteoFicha"></div>
  </section>

  <section id="inferior">
    <div class="seccionDatos" id="fichaRegiones">
      <h3 class="titulo">Regiones</h3>
      <ul id="listaRegiones" class="contenido"></ul>
    </div>
    <div class="seccionDatos" id="fichaCategorias">
      <h3 class="titulo">Categorías</h3>
      <ul id="listaCategorias" class="contenido"></ul>
    </div>
    <div class="seccionDatos" id="fichaLideres">
      <h3 class="titulo">Líderes de Proyectos</h3>
      <ul id="listaLideres" class="contenido"></ul>
    </div>
    <div class="seccionDatos" id="fichaRoles">
      <h3 class="titulo">Roles</h3>
      <ul id="listaRoles" class="contenido"></ul>
    </div>
    <div class="seccionDatos" id="fichaParticipantes">
      <h3 class="titulo">Participantes</h3>
      <ul id="listaParticipantes" class="contenido"></ul>
    </div>
    <div class="seccionDatos" id="fichaRamas">
      <h3 class="titulo">Ramas</h3>
      <ul id="listaRamas" class="contenido"></ul>
    </div>
    <div class="seccionDatos" id="fichaTemas">
      <h3 class="titulo">Temas</h3>
      <ul id="listaTemas" class="contenido"></ul>
    </div>
    <div class="seccionDatos" id="fichaObjetos">
      <h3 class="titulo">Objetos</h3>
      <ul id="listaObjetos" class="contenido"></ul>
    </div>
    <div class="seccionDatos" id="fichaMunicipios">
      <h3 class="titulo">Municipios</h3>
      <ul id="listaMunicipios" class="contenido"></ul>
    </div>
    <div class="seccionDatos" id="fichaDecadas">
      <h3 class="titulo">Decadas</h3>
      <ul id="listaDecadas" class="contenido"></ul>
    </div>
  </section>
</section>

<script>
  const botonCerrarFicha = document.getElementById('cerrar') as HTMLDivElement;
  const ficha = document.getElementById('contenedorFicha') as HTMLDivElement;

  botonCerrarFicha.onclick = () => {
    ficha.style.display = 'none';
  };
</script>

<style lang="scss">
  @import '@/scss/constantes';
  #contenedorFicha {
    height: 80vh;
    width: 50vw;
    position: absolute;
    display: none;
    overflow-y: scroll;
    left: 50vw;
    background-color: var(--fondoVerdeOscuro);
    color: var(--textoClaro);
    z-index: 5;
    padding: 10px;
    border-radius: 1.5%;
    border: 3.5px solid var(--fondoVerdeOscuro);

    #superior {
      border: 1px solid var(--resaltadoVerde);
      margin-bottom: 0.62rem;
      display: flex;
      text-align: center;
      color: var(--textoOscuro);
      #contenedorTitulo {
        background-color: var(--resaltadoVerde);
        flex-basis: 90%;
        margin: 0;
      }

      #conteoFicha {
        margin: auto;
        color: var(--textoClaro);
      }
    }

    #inferior {
      border: 1px solid var(--resaltadoVerde);

      .seccionDatos {
        display: flex;
        width: 90%;
        border-bottom: 1px solid var(--resaltadoVerde);
        margin: 0 auto;
        padding: 0.63rem 0.63rem 0.94rem 0.63rem;

        .titulo {
          margin: 0;
          flex-basis: 40%;
        }
        li {
          margin: 0;
        }

        &.oculta {
          display: none;
        }
      }

      .seccionDatos:last-of-type {
        border: none;
      }
    }
  }

  #cerrar {
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 15px;
    color: var(--textoOscuro);
    &:hover {
      background-color: var(--grisMedio);
      opacity: 0.7;
    }
  }
</style>
