---

---

<div id="mostrarIntro">?</div>

<div id="introduccion">
  <button id="cerrarIntro">X</button>
  <!-- <h2 id="titulo">Haciendo Caminos</h2> -->
  <p>
    <div class="espacioLogoIntroduccion">
      <img class="logoIntroduccion" src="/estaticos/imgs/logo_antro_blanco.svg" alt="logoIntroduccion" />
    </div>
    <span class="resaltado">Haciendo Caminos</span> es la historia del <a
      href="https://cienciassociales.uniandes.edu.co/antropologia/"
      >Departamento de Antropología de la Universidad de Los Andes</a
    > contada a través de los proyectos de investigación que sus profesores y estudiantes han realizado desde su creación.
  </p>
  <p>
    Quiénes han hecho parte, sobre qué han investigado, en qué lugares se han centrado y cuándo fueron realizadas las
    investigaciones son algunas de las preguntas que queremos ayudar a responder con esta herramienta.
  </p>
  <p>
    Para navegar selecciona del menú de la izquierda un tema, personaje, fecha, lugar, elemento o proyecto. Se abrirá
    una ficha con información donde podrás conocerlos en detalle.
  </p>
</div>

<script>
  const botonMostrarIntro = document.getElementById('mostrarIntro') as HTMLDivElement;
  const botonCerrarIntro = document.getElementById('cerrarIntro') as HTMLDivElement;
  const intro = document.getElementById('introduccion') as HTMLDivElement;

  botonCerrarIntro.onclick = () => {
    intro.style.display = 'none';
  };

  botonMostrarIntro.onclick = () => {
    intro.style.display = 'block';
  };
</script>

<style lang="scss">
  @import '@/scss/constantes';
  #mostrarIntro {
    display: block;
    position: absolute;
    right: 2vw;
    top: 70px;
    z-index: 3;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: var(--fondoAmarilloClaro2);

    &:hover {
      opacity: 0.5;
    }
  }

  #introduccion {
    font-family: var(--fuenteParrafo);
    width: 96vw;
    position: absolute;
    display: block;
    right: 2vw;
    top: 60px;
    background-color: var(--fondoVerdeOscuro);
    color: var(--textoClaro);
    z-index: 5;
    padding: 2em 4em;
    border-radius: 1.5%;
    border: 3.5px solid var(--fondoVerdeOscuro);
    line-height: 1.4em;

    &::before {
      content: '';
      background-image: url(/enflujo-haciendocaminos/imgs/gusano_1.svg);
      background-size: contain;
      width: 40px;
      height: 90px;
      margin: 0 1.5vw 0 0;
      bottom: 0;
      right: 0;
      background-repeat: no-repeat;
      position: absolute;
    }

    .resaltado {
      text-transform: uppercase;
      font-family: var(--fuenteLogo);
      letter-spacing: 2.42px;
    }

    #titulo {
      font-family: var(--fuenteLogo);
      text-align: center;
      margin-bottom: 2em;
      text-transform: uppercase;
      letter-spacing: 0.3em;
    }

    .espacioLogoIntroduccion {
      padding: 20px 20px 20px 20px;
      .logoIntroduccion {
      }
    }

    #cerrarIntro {
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 15px;
      color: var(--textoOscuro);
      &:hover {
        background-color: var(--grisMedio);
        opacity: 0.7;
      }
    }
  }

  // Cambiar estilos según tamaño de pantalla
  @media screen and (min-width: $corte3) {
    #introduccion {
      width: 30vw;
      left: 10px;
      padding: 2em 5em;
    }
  }
</style>
