---

---

<div id="leyendaMapa">
  <div class="elementoLeyenda">
    <span class="color varios"></span>
    <span class="nombre">Múltiples Lugares</span>
  </div>

  <div class="elementoLeyenda">
    <span class="color ciudades"></span>
    <span class="nombre">Ciudades / Municipios</span>
  </div>

  <div class="elementoLeyenda">
    <span class="color departamentos"></span>
    <span class="nombre">Departamentos</span>
  </div>

  <div class="elementoLeyenda">
    <span class="color paises"></span>
    <span class="nombre">Países</span>
  </div>
</div>

<div id="contenedorMapa"></div>

<script>
  import mapbox from 'mapbox-gl';
  import type { Expression, GeoJSONSource, Map } from 'mapbox-gl';
  import { actualizarUrl, datosListas, datosListasEgresados, geo } from '@/utilidades/cerebro';
  import 'mapbox-gl/dist/mapbox-gl.css';
  import { vista } from '@/utilidades/cerebro';
  import type { Listas, ListasEgresados, TiposLugaresEgresados, TiposLugaresProyectos } from '@/tipos';

  let mapaCreado = false; // Instancia creada
  let mapaCargado = false; // Instancia creada y ya terminó de cargar en la página
  let mapa: Map;
  const contenedorMapa = document.getElementById('contenedorMapa') as HTMLDivElement;
  const estilo = 'mapbox://styles/enflujo/clpcruhsj005z01qr10czhk1d';
  mapbox.accessToken = 'pk.eyJ1IjoiZW5mbHVqbyIsImEiOiJjbDNrOXNndXQwMnZsM2lvNDd4N2x0M3dvIn0.eWs4BHs67PcETEUI00T66Q';

  const estilos = getComputedStyle(document.documentElement);

  const colores = {
    varios: estilos.getPropertyValue('--colorVarios'),
    ciudades: estilos.getPropertyValue('--colorCiudades'),
    departamentos: estilos.getPropertyValue('--colorDepartamentos'),
    paises: estilos.getPropertyValue('--colorPaises')
  };

  const configColorLugar: Expression = [
    'match',
    ['get', 'tipo'],
    'ciudades',
    colores.ciudades,
    'municipios',
    colores.ciudades,
    'departamentos',
    colores.departamentos,
    'paises',
    colores.paises,
    '#ccc'
  ];

  geo.subscribe((datosGeo) => {
    if (!Object.keys(datosGeo).length) return;

    if (!contenedorMapa) return;

    if (!mapaCreado) {
      mapa = new mapbox.Map({
        container: contenedorMapa,
        style: estilo,
        center: [-73.8343, 3],
        zoom: 4,
        attributionControl: false
      });

      mapaCreado = true;
    } else {
      // POR HACER: ¿cómo esperar si no está cargado el mapa?
      if (mapaCargado) {
        const fuente = mapa.getSource('ubicaciones') as GeoJSONSource;

        fuente.setData(datosGeo);

        const primerPunto = datosGeo.features[0];

        if (primerPunto) {
          mapa.flyTo({
            center: primerPunto.geometry.coordinates as [number, number],
            essential: true
          });
        }
      }

      return;
    }

    /**
     * Esperar a que el mapa de mapbox termine de cargar antes de llenarlo con los datos.
     */
    mapa.on('load', () => {
      // Crea la fuente para todas las ubicaciones (puntos).
      mapa.addSource('ubicaciones', {
        type: 'geojson',
        data: datosGeo,
        cluster: true,
        clusterRadius: 100,
        clusterProperties: {
          // Esto suma la cantidad de elementos que tiene un grupo,
          // para poder actualizar los círculos a medida que se hace zoom
          conteo: ['+', ['get', 'conteo']]
        }
      });

      /**
       * 🔵 Los círculos que agrupan varios lugares dependiendo del zoom.
       */
      mapa.addLayer({
        id: 'grupos',
        type: 'circle',
        source: 'ubicaciones',
        filter: ['has', 'point_count'],
        paint: {
          'circle-stroke-color': colores.varios,
          'circle-stroke-width': 3,
          /**
           * ['step'] | A diferencia de "interpolate", "step" crea una serie de puntos donde algo debe cambiar.
           * ['get', 'obras'] | La cantidad de obras dentro del círculo, sale de "clusterProperties" que definimos al crear la capa.
           * En "step" se pueden crear los cortes que uno quiera, los valores que siguen deben ser impares:
           * anchoMin, corte1, ancho1, corte2, ancho2, ....
           */
          'circle-radius': ['interpolate', ['linear'], ['get', 'conteo'], 1, 15, 100, 80],
          'circle-color': colores.varios,
          'circle-opacity': 0.05
        }
      });

      /**
       * 🅰 Texto dentro del círculo
       */
      mapa.addLayer({
        id: 'contadorProyectos',
        type: 'symbol',
        source: 'ubicaciones',
        // Sólo mostrarlo cuando tiene más de un lugar agrupado ("point_count" lo crea mapbox y se va actualizando con el zoom).
        filter: ['has', 'point_count'],
        layout: {
          /**
           * 'format' | Permite concatenar una serie de textos o imágenes.
           * ['image', 'icono'] | Pone la imagen que registramos antes en la instancia de mapbox.
           */
          'text-field': ['format', ['get', 'conteo']],
          'text-size': 12
        }
      });

      /**
       * ⭕ Punto cuando es 1 lugar y no un "cluster".
       */
      mapa.addLayer({
        id: 'punto',
        type: 'circle',
        source: 'ubicaciones',
        filter: ['!', ['has', 'point_count']], // Cuando NO tiene "point_count" ya no es un grupo y es sólo 1 punto.
        paint: {
          'circle-color': configColorLugar,
          'circle-radius': 7,
          'circle-opacity': 1
        }
      });

      /**
       * 🏛 Nombre del lugar
       */
      mapa.addLayer({
        id: 'nombre',
        type: 'symbol',
        source: 'ubicaciones',
        filter: ['!', ['has', 'point_count']],
        layout: {
          'text-field': [
            'format',
            ['get', 'nombre'],
            { 'font-scale': 0.8 },
            ' (',
            ['get', 'conteo'],
            { 'font-scale': 0.75 },
            ')'
          ]
        },
        paint: {
          'text-color': configColorLugar,
          'text-translate': [0, -15]
        }
      });

      mapaCargado = true;
      const popup = new mapbox.Popup({
        closeButton: false
      });

      function eventoEncima() {
        mapa.getCanvas().style.cursor = 'pointer';
      }

      function eventoFuera() {
        mapa.getCanvas().style.cursor = '';
      }

      // Función para mostrar algo al pasar el mouse por un punto
      mapa.on('mouseenter', 'grupos', eventoEncima);
      mapa.on('mouseleave', 'grupos', eventoFuera);
      mapa.on('mouseenter', 'punto', eventoEncima);
      mapa.on('mouseleave', 'punto', eventoFuera);

      mapa.on('click', 'punto', (evento) => {
        const datosPunto = evento.features?.[0].properties;
        if (datosPunto && datosPunto.slug) {
          const esProyectos = vista.get() === 'proyectos';
          const fuente = esProyectos
            ? datosListas.get()[datosPunto.tipo as TiposLugaresProyectos]
            : datosListasEgresados.get()[datosPunto.tipo as TiposLugaresEgresados];
          const indiceLugar = fuente.findIndex((obj) => obj.slug === datosPunto.slug);

          actualizarUrl([
            { nombre: 'id', valor: `${indiceLugar}` },
            { nombre: 'tipo', valor: datosPunto.tipo }
          ]);
        }
      });

      mapa.on('click', 'grupos', (evento) => {
        const datosGrupo = evento.features?.[0].properties;
        if (!datosGrupo) return;

        const clusterId = datosGrupo.cluster_id;
        const conteoPuntos = datosGrupo.point_count;
        const fuenteZonas = mapa.getSource('ubicaciones') as GeoJSONSource;

        fuenteZonas.getClusterLeaves(clusterId, conteoPuntos, 0, (error, features) => {
          if (error) {
            // hacer algo si hay error
          } else {
            const contenedor = document.createElement('div');
            contenedor.className = 'listaLugares';

            const esProyectos = vista.get() === 'proyectos';
            const baseFuente = esProyectos ? datosListas.get() : datosListasEgresados.get();

            features.sort((a, b) => {
              if (a.properties?.slug < b.properties?.slug) return -1;
              else if (a.properties?.slug > b.properties?.slug) return 1;
              return 0;
            });

            features.forEach((lugar) => {
              const tipo = lugar.properties?.tipo;
              const fuente = esProyectos
                ? (baseFuente as Listas)[tipo as TiposLugaresProyectos]
                : (baseFuente as ListasEgresados)[tipo as TiposLugaresEgresados];

              const indiceLugar = fuente.findIndex((obj) => obj.slug === lugar.properties?.slug);
              const datosLugar = fuente[indiceLugar];

              const enlaceIdeaJulian = document.createElement('span');
              enlaceIdeaJulian.classList.add('enlaceMapa', tipo);
              enlaceIdeaJulian.innerText = `${datosLugar?.nombre}: ${datosLugar?.conteo}`;

              enlaceIdeaJulian.onclick = () => {
                popup.remove();

                actualizarUrl([
                  { nombre: 'id', valor: `${indiceLugar}` },
                  { nombre: 'tipo', valor: tipo }
                ]);
              };

              if (datosLugar) {
                contenedor.appendChild(enlaceIdeaJulian);
              }
            });

            popup.setLngLat(evento.lngLat).setDOMContent(contenedor).addTo(mapa);
          }
        });
      });
    });
  });
</script>

<style>
  #leyendaMapa {
    position: fixed;
    top: calc(var(--altoMenu) + 50px);
    left: 10px;
    z-index: 1;
    font-size: 0.7em;
    background-color: rgba(217, 221, 219, 0.8);
    padding: 10px;

    .color {
      width: 10px;
      height: 10px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
      margin-right: 2px;

      &.ciudades {
        background-color: var(--colorCiudades);
      }

      &.departamentos {
        background-color: var(--colorDepartamentos);
      }

      &.paises {
        background-color: var(--colorPaises);
      }

      &.varios {
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid var(--colorVarios);
      }
    }
  }

  #contenedorMapa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .listaLugares {
      overflow-y: auto;
      max-height: 200px;
      font-family: var(--fuenteParrafo);
      padding: 1em;

      .enlaceMapa {
        display: block;
        cursor: pointer;

        &.ciudades,
        &.municipios {
          color: var(--colorCiudades);
        }

        &.departamentos {
          color: var(--colorDepartamentos);
        }

        &.paises {
          color: var(--colorPaises);
        }
      }
    }
  }
</style>
