---

---

<div id="pataLogos">
  <img
    class="logoInstitucional"
    src={`${import.meta.env.BASE_URL}/imgs/uniandes_guardaescobas_negro.svg`}
    alt="Logo del departamento de Antropología, facultad de ciencias sociales de la Universidad de los Andes."
  />
</div>

<style lang="scss">
  @import '@/scss/constantes';

  #pataLogos {
    display: flex;
    position: fixed;
    bottom: calc(var(--altoLineaTiempo) + 2vh);
    left: 20px;
    z-index: 2;

    .logoInstitucional {
      display: block;
      width: 250px;
    }
  }

  @media screen and (min-width: $corte3) {
    #pataLogos {
      .logoInstitucional {
        width: 350px;
      }
    }
  }
</style>
