---
import proyectos from '../../estaticos/proyectos.json';
---

<div id="listaProyectos">
  <div id="cajaNombreVista">
    <h2>Proyectos</h2>
    <span id="botonListas" class="botonAbrir abierta"></span>
  </div>

  <ul id="contenidoLista">
    {
      proyectos.map((proyecto, i) => (
        <li id={`proyecto_${proyecto.id}`} class="nodoProyecto" data-indice={i}>
          {proyecto.nombre.nombre}
        </li>
      ))
    }
  </ul>
</div>

<script>
  import { actualizarUrl, datosProyectos } from '@/utilidades/cerebro';
  const nodosProyectos = document.querySelectorAll<HTMLLIElement>('.nodoProyecto');
  const contenidoLista = document.getElementById('contenidoLista') as HTMLUListElement;
  const cajaNombreVista = document.getElementById('cajaNombreVista') as HTMLDivElement;
  const botonListas = document.getElementById('botonListas') as HTMLSpanElement;
  const contenedorProyectos = document.getElementById('listaProyectos') as HTMLDivElement;

  cajaNombreVista.onclick = () => {
    contenidoLista.classList.toggle('oculta');
    botonListas.classList.toggle('abierta');
    cajaNombreVista.classList.toggle('cerrada');
    contenedorProyectos.classList.toggle('cerrado');
  };

  datosProyectos.subscribe((datos) => {
    if (!datos.length) return;

    nodosProyectos.forEach((nodoProyecto) => {
      nodoProyecto.onclick = () => {
        const id = nodoProyecto.dataset.indice;
        if (!id) return;

        actualizarUrl([
          { nombre: 'id', valor: id },
          { nombre: 'tipo', valor: 'proyecto' }
        ]);
      };
    });
  });
</script>
