---
import proyectos from '../../estaticos/proyectos.json';
---

<div id="listaProyectos">
  <h2>Proyectos</h2>

  <ul>
    {
      proyectos.map((proyecto, i) => (
        <li id={`proyecto_${proyecto.id}`} class="nodoProyecto" data-indice={i}>
          {proyecto.nombre.nombre}
        </li>
      ))
    }
  </ul>
</div>

<script>
  import { datosProyectos, elementoSeleccionado } from '@/utilidades/cerebro';
  const nodosProyectos = document.querySelectorAll<HTMLLIElement>('.nodoProyecto');
  const conteoFicha = document.getElementById('conteoFicha') as HTMLDivElement;

  datosProyectos.subscribe((datos) => {
    if (!datos.length) return;

    nodosProyectos.forEach((nodoProyecto) => {
      nodoProyecto.onclick = () => {
        const contenedorTitulo = document.getElementById('contenedorTitulo') as HTMLDivElement;
        contenedorTitulo.style.flexBasis = '100%';
        conteoFicha.style.display = 'none';

        const id = nodoProyecto.dataset.indice;
        if (!id) return;

        elementoSeleccionado.set({ tipo: 'proyecto', id, lista: 'Proyecto' });
      };
    });
  });
</script>
