$corte1: 450px;
$corte2: 760px;
$corte3: 1000px;
$corte4: 1333px;

:root {
  /// Fuentes tipográficas hemochas
  --fuenteParrafo: 'Inter', 'Helvetica', 'Roboto', 'Arial', 'Tahoma', 'Verdana', sans-serif;
  --fuenteTitulo: 'Tourney', 'Garamond', 'Georgia', 'Times', serif;
  --fuenteNumeros: 'IBM Plex Mono', 'Courier New', monospace;
  --fuenteLogo: 'mixta-didone', 'Garamond', 'Georgia', 'Times', serif;

  // Paleta
  --grisMedio: #e0e0e0;
  --grisClaro: #f5f5f5;
  --blanco: #ffffff;
  --magenta: #ff00ff;

  // Fondos
  --fondoVerdeOscuro: #1a2a22;
  --fondoAmarilloClaro: #fdf782;
  --fondoAmarilloClaro2: #ffffde;
  --fondoVerdeClaro: #c6dc48;
  --resaltadoVerde: #62e595;

  // Textos
  --textoOscuro: #1a2a22;
  --textoClaro: #ffffff;
}

@supports (font-variation-settings: normal) {
  :root {
    --fuenteParrafo: InterVariable, 'Helvetica', 'Roboto', 'Arial', 'Tahoma', 'Verdana', sans-serif;
  }
}
