@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');
@import url('https://use.typekit.net/nms4dmt.css');

@import './normalizar';
@import './constantes';

body {
  font-family: var(--fuenteParrafo);
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
}

main {
  height: 100vh;
  overflow: auto;
}

h1 {
  font-family: var(--fuenteLogo);
  letter-spacing: 2.42px;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.85em;
}

::selection {
  background-color: var(--magenta);
  color: var(--grisClaro);
}

a,
a:link {
  color: var(--resaltadoVerde);
  font-weight: bold;
  overflow-wrap: anywhere;

  &:hover {
    color: var(--fondoVerdeClaro);
  }
}
